.style {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    font-weight: bolder;
    background-color: azure;
    line-height: 50px;
}

.head {
    background-color: antiquewhite;
}